button
{
	text-align: center;
	background-color: white;
	border-radius: 10px;
	padding: 15px;
}
button:hover
{
	background-color: gray;
}
button:focus
{
	box-shadow: 0 0 0 3px black;
	background-color: #C8FFFF;
	
}
button:active
{
	background-color: gray;
}

button:visited
{
	 background-color: aqua;
}

body
{
	text-align: center;
	background-color: #BBDEFB;
}
